﻿.prettyLoader {
	background: url(../images/prettyLoader/prettyLoader.png) top left no-repeat;
	height: 30px;
	position: absolute;
	width: 30px;
	z-index: 30000;
}

.prettyLoader img {
	display: block;
	margin: 7px 0 0 7px;
}

.pl_ie6 { background-image: url(../images/prettyLoader/prettyLoader.gif); }