﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FormManageUserControl.ascx.cs"
    Inherits="CallDispositionTool.UserControl.FormManageUserControl" %>
<div style="padding: 10px 10px 10px 10px">
    <rad:RadScriptBlock ID="scriptBlock1" runat="server">
        <script type="text/javascript">
            function ShowFormProperties(formID) {
                var windowURL = '<%= ResolveClientUrl("~/Admin/FormPropertyManagement.aspx") %>' + '?FormID=' + formID;
                var grid = $find("<%= grdForm.ClientID %>");
                var oWnd = radopen(windowURL, null);
                oWnd.set_title("Form Properties - FormID: " + formID);
                oWnd.set_modal(true);
                oWnd.center();

                return false;
            }
        </script>
    </rad:RadScriptBlock>
    <rad:RadAjaxLoadingPanel ID="LoadingPanel1" runat="server">
    </rad:RadAjaxLoadingPanel>
    <rad:RadAjaxManagerProxy ID="ajaxManagerProxy1" runat="server">
        <AjaxSettings>
            <rad:AjaxSetting AjaxControlID="grdForm">
                <UpdatedControls>
                    <rad:AjaxUpdatedControl ControlID="grdForm" LoadingPanelID="LoadingPanel1" />
                </UpdatedControls>
            </rad:AjaxSetting>
            <rad:AjaxSetting AjaxControlID="RadFilter1">
                <UpdatedControls>
                    <rad:AjaxUpdatedControl ControlID="RadFilter1" LoadingPanelID="LoadingPanel1" />
                </UpdatedControls>
            </rad:AjaxSetting>
        </AjaxSettings>
    </rad:RadAjaxManagerProxy>
    <rad:RadFilter runat="server" ID="RadFilter1" FilterContainerID="grdForm" ShowApplyButton="false">
    </rad:RadFilter>
    <br />
    <rad:RadGrid ID="grdForm" runat="server" AutoGenerateColumns="false" AllowSorting="true"
        AllowFilteringByColumn="true" Width="100%" AutoGenerateEditColumn="true" AutoGenerateDeleteColumn="true"
        OnItemCommand="grdForm_ItemCommand" AllowCustomPaging="True" AllowPaging="True"
        OnNeedDataSource="grdForm_NeedDataSource" OnDeleteCommand="grdForm_DeleteCommand"
        OnInsertCommand="grdForm_InsertCommand" OnUpdateCommand="grdForm_UpdateCommand" OnItemCreated="grdForm_ItemCreated">
        <PagerStyle Mode="NextPrevNumericAndAdvanced" />
        <ClientSettings AllowColumnsReorder="true" EnableAlternatingItems="true">
            <Scrolling AllowScroll="true" UseStaticHeaders="true" />
            <Resizing AllowColumnResize="true" AllowResizeToFit="true" ResizeGridOnColumnResize="true"
                ClipCellContentOnResize="true" />
        </ClientSettings>
        <ExportSettings ExportOnlyData="true" IgnorePaging="true" FileName="Report">
        </ExportSettings>
        <ItemStyle Wrap="true"></ItemStyle>
        <MasterTableView CommandItemDisplay="Top" PageSize="15" TableLayout="Auto" IsFilterItemExpanded="false"
            DataKeyNames="FormID" EditMode="PopUp">
            <CommandItemTemplate>
                <telerik:RadToolBar runat="server" ID="RadToolBar1" AutoPostBack="true">
                    <Items>
                        <telerik:RadToolBarButton Text="Add Form" CommandName="InitInsert" Visible='<%# !grdForm.MasterTableView.IsItemInserted %>'
                            ImageUrl="<%# GetAddRecordIcon() %>" ImagePosition="Right">
                        </telerik:RadToolBarButton>
                        <telerik:RadToolBarButton Text="Apply filter" CommandName="FilterRadGrid" ImageUrl="<%# GetFilterIcon() %>"
                            ImagePosition="Right">
                        </telerik:RadToolBarButton>
                    </Items>
                </telerik:RadToolBar>
            </CommandItemTemplate>
            <NestedViewTemplate>
                <rad:RadTabStrip ID="TabStripUser" runat="server" SelectedIndex="0" MultiPageID="MultiPageUser"
                    ShowBaseLine="true" Width="100%">
                    <Tabs>
                        <rad:RadTab Text="Attributes" runat="server" Visible="true">
                        </rad:RadTab>
                    </Tabs>
                </rad:RadTabStrip>
                <div style="border: 0.1pt solid gray; border-width: 0.5pt; border-top-style: none;
                    padding: 10px 10px 10px 10px">
                    <rad:RadMultiPage ID="MultiPageForm" runat="server" SelectedIndex="0" RenderSelectedPageOnly="False"
                        Width="100%">
                        <rad:RadPageView ID="PageViewAttribute" runat="server">
                            <rad:RadGrid ID="grdAttribute" runat="server" Width="100%" OnNeedDataSource="grdAttribute_NeedDataSource"
                                OnItemCommand="grdAttributes_ItemCommand" OnUpdateCommand="grdAttributes_UpdateCommand"
                                OnInsertCommand="grdAttributes_InsertCommand" AutoGenerateEditColumn="true" AutoGenerateDeleteColumn="true"
                                OnDeleteCommand="grdAttribute_DeleteCommand">
                                <ClientSettings EnableAlternatingItems="true">
                                    <Selecting AllowRowSelect="true" />
                                    <Resizing AllowColumnResize="True" AllowRowResize="false" ResizeGridOnColumnResize="false"
                                        ClipCellContentOnResize="true" EnableRealTimeResize="false" AllowResizeToFit="true" />
                                </ClientSettings>
                                <MasterTableView Name="Attribute" DataKeyNames="AttributeID,FormID" AutoGenerateColumns="False"
                                    CommandItemDisplay="Top" AllowSorting="true">
                                    <CommandItemSettings AddNewRecordText="Add Attribute" />
                                    <NestedViewTemplate>
                                        <rad:RadTabStrip ID="TabStripProperties" runat="server" SelectedIndex="0" MultiPageID="MultiPageOthers"
                                            ShowBaseLine="true" Width="100%">
                                            <Tabs>
                                                <rad:RadTab Text="Textbox Properties" runat="server" Visible="true">
                                                </rad:RadTab>
                                            </Tabs>
                                        </rad:RadTabStrip>
                                        <div style="border: 0.1pt solid gray; border-width: 0.5pt; border-top-style: none;
                                            padding: 10px 10px 10px 10px">
                                            <rad:RadMultiPage ID="MultiPageOthers" runat="server" SelectedIndex="0" RenderSelectedPageOnly="False"
                                                Width="100%">
                                                <rad:RadPageView ID="PageViewProperties" runat="server">
                                                    <rad:RadGrid ID="grdTextboxProperties" runat="server" Width="100%" AutoGenerateEditColumn="true"
                                                        AutoGenerateDeleteColumn="true" OnNeedDataSource="grdTextboxProperties_NeedDataSource"
                                                        OnInsertCommand="grdTextboxProperties_InsertCommand" OnUpdateCommand="grdTextboxProperties_UpdateCommand"
                                                        OnDeleteCommand="grdTextBoxProperties_DeleteCommand">
                                                        <ClientSettings EnableAlternatingItems="true">
                                                            <Selecting AllowRowSelect="true" />
                                                            <Resizing AllowColumnResize="True" AllowRowResize="false" ResizeGridOnColumnResize="false"
                                                                ClipCellContentOnResize="true" EnableRealTimeResize="false" AllowResizeToFit="true" />
                                                        </ClientSettings>
                                                        <MasterTableView Name="TextMode" DataKeyNames="AttributeID" AutoGenerateColumns="False"
                                                            CommandItemDisplay="Top" AllowSorting="true">
                                                            <CommandItemSettings AddNewRecordText="Add Textbox Property" />
                                                            <Columns>
                                                                <rad:GridDropDownColumn UniqueName="TextMode" HeaderText="Text Mode" DataField="TextMode"
                                                                    SortExpression="TextMode" DataSourceID="dsTextMode" ListTextField="TextMode1"
                                                                    ListValueField="TextModeID">
                                                                </rad:GridDropDownColumn>
                                                                <rad:GridBoundColumn HeaderText="Regular Expression" DataField="RegularExpression"
                                                                    SortExpression="RegularExpression">
                                                                </rad:GridBoundColumn>
                                                                <rad:GridBoundColumn HeaderText="Error Message" DataField="ErrorMessage" SortExpression="ErrorMessage">
                                                                </rad:GridBoundColumn>
                                                                <rad:GridNumericColumn HeaderText="MaxLength" DataField="MaxLength" SortExpression="MaxLength">
                                                                </rad:GridNumericColumn>
                                                                <rad:GridBoundColumn HeaderText="CreatedOn" DataField="CreatedOn" SortExpression="CreatedOn"
                                                                    ReadOnly="true">
                                                                </rad:GridBoundColumn>
                                                            </Columns>
                                                        </MasterTableView>
                                                    </rad:RadGrid>
                                                    <asp:EntityDataSource ID="dsTextMode" runat="server" ConnectionString="name=CallDispositionEntities"
                                                        DefaultContainerName="CallDispositionEntities" EntitySetName="TextModes">
                                                    </asp:EntityDataSource>
                                                </rad:RadPageView>
                                            </rad:RadMultiPage>
                                        </div>
                                    </NestedViewTemplate>
                                    <Columns>
                                        <rad:GridBoundColumn HeaderText="Attribute Name" DataField="AttributeName" SortExpression="AttributeName">
                                        </rad:GridBoundColumn>
                                        <rad:GridDropDownColumn UniqueName="DataTypeID" HeaderText="Data Type" DataField="DataTypeID"
                                            SortExpression="DataTypeID" DataSourceID="dsDataType" ListTextField="DataTypeName"
                                            ListValueField="DataTypeID">
                                        </rad:GridDropDownColumn>
                                        <rad:GridCheckBoxColumn UniqueName="Mandatory" HeaderText="Mandatory" DataField="Mandatory"
                                            SortExpression="Mandatory" DataType="System.Boolean">
                                        </rad:GridCheckBoxColumn>
                                        <rad:GridNumericColumn UniqueName="SortOrder" HeaderText="Sort Order" DataField="SortOrder"
                                            SortExpression="SortOrder" DataType="System.Int32">
                                        </rad:GridNumericColumn>
                                        <rad:GridCheckBoxColumn UniqueName="HideFromList" HeaderText="HideFromList" DataField="HideFromList"
                                            SortExpression="HideFromList" DataType="System.Boolean">
                                        </rad:GridCheckBoxColumn>
                                        <rad:GridBoundColumn HeaderText="CreatedOn" DataField="CreatedOn" SortExpression="CreatedOn"
                                            ReadOnly="true">
                                        </rad:GridBoundColumn>
                                    </Columns>
                                </MasterTableView>
                            </rad:RadGrid>
                            <asp:EntityDataSource ID="dsDataType" runat="server" ConnectionString="name=CallDispositionEntities"
                                DefaultContainerName="CallDispositionEntities" EntitySetName="DataTypes">
                            </asp:EntityDataSource>
                        </rad:RadPageView>
                    </rad:RadMultiPage>
                </div>
            </NestedViewTemplate>
            <CommandItemSettings ShowExportToExcelButton="true" AddNewRecordText="Add Form" ShowExportToCsvButton="true" />
            <SortExpressions>
                <rad:GridSortExpression FieldName="FormID" SortOrder="Descending" />
            </SortExpressions>
            <EditFormSettings EditColumn-ButtonType="PushButton">
                <EditColumn ButtonType="PushButton" FilterControlAltText="Filter EditCommandColumn column">
                </EditColumn>
                <PopUpSettings Modal="true" ScrollBars="Auto" ShowCaptionInEditForm="true" />
            </EditFormSettings>
            <RowIndicatorColumn Visible="True" FilterControlAltText="Filter RowIndicator column">
            </RowIndicatorColumn>
            <ExpandCollapseColumn Visible="True" FilterControlAltText="Filter ExpandColumn column">
            </ExpandCollapseColumn>
            <Columns>
                <rad:GridTemplateColumn UniqueName="EditFormPropertyColumn" AllowFiltering="false" ReadOnly="true" >
                    <ItemTemplate>
                        <asp:ImageButton ID="EditFormButton" runat="server" ImageUrl="~/images/Properties16x16.png"
                            AlternateText="View/Edit Form Properties" ToolTip="View/Edit Form Properties"  />
                    </ItemTemplate>
                    <HeaderStyle Width="30px" />
                </rad:GridTemplateColumn>
                <rad:GridBoundColumn UniqueName="FormID" HeaderText="Form ID" DataField="FormID"
                    SortExpression="FormID" DataType="System.Int32" ReadOnly="true">
                </rad:GridBoundColumn>
                <rad:GridBoundColumn UniqueName="FormName" HeaderText="Form Name" DataField="FormName"
                    SortExpression="FormName" DataType="System.String">
                </rad:GridBoundColumn>
                <rad:GridBoundColumn UniqueName="FormDescription" HeaderText="Form Description" DataField="FormDescription"
                    SortExpression="FormDescription" DataType="System.String">
                </rad:GridBoundColumn>
                <rad:GridCheckBoxColumn UniqueName="HideFromList" HeaderText="HideFromList" DataField="HideFromList"
                    SortExpression="HideFromList" DataType="System.Boolean">
                </rad:GridCheckBoxColumn>
                <rad:GridDateTimeColumn UniqueName="CreatedOn" HeaderText="Created On" DataField="CreatedOn"
                    SortExpression="CreatedOn" ReadOnly="true" DataType="System.DateTime">
                </rad:GridDateTimeColumn>
            </Columns>
        </MasterTableView>
        <FilterMenu EnableImageSprites="False">
        </FilterMenu>
    </rad:RadGrid>
</div>
