﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TimerAutoUserControl.ascx.cs"
    Inherits="CallDispositionTool.UserControl.TimerAutoUserControl" %>
<h1>
    <time>00:00:00</time>
</h1>
<asp:HiddenField ID="hiddenElapsed" runat="server" ClientIDMode="Static" />
