﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TransactionViewUserControl.ascx.cs"
    Inherits="CallDispositionTool.UserControl.TransactionViewUserControl" %>
<div style="margin: 0 auto 0 auto; width: 100%;">
    <asp:Table ID="CustomUITable" runat="server">
    </asp:Table>
</div>
