﻿/*Font*/
@font-face { font-family: 'bariol_bold'; src: url('../fonts/bariol_bold-webfont.eot'); src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bariol_bold-webfont.ttf') format('truetype'), url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg'); font-weight: normal; font-style: normal; }

#cssmenu {
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family: 'bariol_bold';
	font-size:14px;
	font-weight:bold;
	color:#8e8e8e;
	position: relative;	
	}
#cssmenu ul
{
    position: relative;
	background:url('../images/menu-bg.gif') top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	#cssmenu li
	{
	    position: relative;
		float:left;
		padding:0px 8px 0px 8px;
		}
	#cssmenu li a
	{
	    position: relative;
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		#cssmenu li a:hover{
			color:#000000;
			text-decoration:none;
			}
	#cssmenu li ul
	{
		background:#e0e0e0;
		border-left:2px solid #0079b2;
		border-right:2px solid #0079b2;
		border-bottom:2px solid #0079b2;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	#cssmenu li:hover ul
	{
		display:block;
		}
	#cssmenu li li {
		display:block;
		float:none;
		padding:0px;
		width:225px;
		}
	#cssmenu li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		#cssmenu li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	#cssmenu p{
		clear:left;
		}	
	#cssmenu .active > a{
		background:url('../images/current-bg.gif') top left repeat-x;
		color:#ffffff;
		}
	#cssmenu .active > a:hover {
		color:#ffffff;
		}
		
		
.animating{
	animation: animate 1s cubic-bezier(0,1,1,0);			
}

.bubble
{
    height: 18px;
    width: 18px;
    background: #f56c7e url('../images/notification-bg-clear.png') no-repeat center center scroll;
    background-image: none;
    position: absolute;
    right: 5px;
    top: 0px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 9px;
    line-height: 18px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}        
        
@keyframes animate{
	from {
	    transform: scale(1);
	}
	to {
	    transform: scale(1.7);
	}
}        		
		