﻿<%@ Master Language="C#" CodeBehind="Site.master.cs" Inherits="CallDispositionTool.Site" %>

<% HttpContext.Current.Response.AddHeader("p3p", "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""); %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Transcom Call Disposition Tool</title>
    <!--Reference the jQuery library. -->
    <script src='<%# ResolveClientUrl("~/Scripts/jquery-1.8.2.min.js") %>' type="text/javascript"></script>
    <script src='<%# ResolveClientUrl("~/Scripts/json2.mins.js") %>' type="text/javascript"></script>
    <!--master page css-->
    <link href="~/CSS/style.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/prettyLoader.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/cssmenu.css" rel="stylesheet" type="text/css" />
    <!-- Google Analytics -->
    <script src='<%# ResolveClientUrl("~/Scripts/GAnalytics.js") %>' type="text/javascript"></script>
    <!--Script references. -->
    <script src='<%# ResolveClientUrl("~/Scripts/jstz.min.js") %>' type="text/javascript"></script>
    <script src='<%# ResolveClientUrl("~/Scripts/spin.min.js") %>' type="text/javascript"></script>
    <script src='<%# ResolveClientUrl("~/Scripts/jquery.prettyLoader.js") %>' type="text/javascript"></script>
    <!--Reference the SignalR library. -->
    <script src='<%# ResolveClientUrl("~/Scripts/jquery.signalR-1.1.2.min.js") %>' type="text/javascript"></script>
    <script type="text/javascript" src='<%# ResolveClientUrl("~/signalr/hubs") %>'></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <asp:ContentPlaceHolder ID="cntHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <rad:RadSkinManager ID="skinManager1" runat="server" PersistenceMode="Cookie">
    </rad:RadSkinManager>
    <rad:RadNotification ID="RadNotification1" runat="server" Animation="Slide" Width="380"
        AutoCloseDelay="10000" Height="130" EnableRoundedCorners="true" EnableShadow="true"
        Title="Call Back Notification" ShowCloseButton="true" ShowTitleMenu="true" Text="You have new call back. Click here to view details"
        Style="z-index: 35000" RenderMode="Lightweight">
    </rad:RadNotification>
    <rad:RadFormDecorator ID="formDecorator1" runat="server" EnableRoundedCorners="true"
        RenderMode="Lightweight" DecorationZoneID="main_content" ControlsToSkip="H4H5H6" />
    <rad:RadScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true"
        EnablePartialRendering="true" ScriptMode="Release" AsyncPostBackTimeout="360000">
    </rad:RadScriptManager>
    <div id="main_container">
        <div class="header">
            <div id="logo" style="width: 300px">
                <img id="Img1" runat="server" src="~/Images/Transcom_logo_blue_RGB.png" alt="" title="Transcom Call Catcher Tool"
                    width="150" height="25" />
            </div>
            <div class="right_header">
                <div class="top_menu">
                    <asp:LoginView ID="LoginView3" runat="server">
                        <RoleGroups>
                            <asp:RoleGroup Roles="PickListOptionManager,DispositionManager,UserAccessGrantor,FormManager,AssignUserRole,AdminRole,FormAccessGrantor">
                                <ContentTemplate>
                                    <a id="A1" runat="server" href="~/Admin/Admin.aspx" class="admin" onclick="ShowSpinner();">
                                        Admin</a>
                                </ContentTemplate>
                            </asp:RoleGroup>
                        </RoleGroups>
                    </asp:LoginView>
                    <div>
                    </div>
                    <asp:LoginStatus ID="loginStatus1" runat="server" CssClass="login" />
                </div>
            </div>
        </div>
        <div id='cssmenu'>
            <ul>
                <asp:LoginView ID="LoginViewTrackerMenu" runat="server">
                    <LoggedInTemplate>
                        <li class='<%= Page.Request.Path.Contains("Default.aspx") ? "active" : "none" %>'><a
                            id="mnuHome" runat="server" href="~/Default.aspx" title="Home Page" onclick="ShowSpinner();">
                            Home</a></li>
                        <li class='<%= Page.Request.Path.Contains("Tracker.aspx") ? "has-sub active" : "none" %>'>
                            <a id="mnuTracker" href="#" title="Select a tracker to begin entering form transaction">
                                Tracker</a>
                            <rad:RadCodeBlock ID="radCodeBlockTrackerMenu" runat="server">
                                <ul>
                                    <% dynamic availableForms = CallDispositionTool.Helper.GetFormsByUser(HttpContext.Current.User.Identity.Name);

                                       foreach (var form in availableForms)
                                       {
                                    %>
                                    <li><a onclick="openNewWindow('<%= form.GetType().GetProperty("FormID").GetValue(form, null) %>', '<%= form.GetType().GetProperty("FormDescription").GetValue(form, null) %>');"
                                        title='<%= form.GetType().GetProperty("FormDescription").GetValue(form, null) %>'>
                                        <%= form.GetType().GetProperty("FormName").GetValue(form, null)%></a></li>
                                    <% } %>
                                </ul>
                            </rad:RadCodeBlock>
                        </li>
                    </LoggedInTemplate>
                </asp:LoginView>
                <asp:LoginView ID="LoginViewContacts" runat="server">
                    <RoleGroups>
                        <asp:RoleGroup Roles="AdminRole,AllowContacts">
                            <ContentTemplate>
                                <li class='<%= Page.Request.Path.Contains("Contact.aspx") ? "active" : "none" %>'><a
                                    id="A2" href="~/Contact.aspx" runat="server" title="Call Back">Contact</a> </li>
                            </ContentTemplate>
                        </asp:RoleGroup>
                    </RoleGroups>
                </asp:LoginView>
                <asp:LoginView ID="LoginViewCallBackMenu" runat="server">
                    <RoleGroups>
                        <asp:RoleGroup Roles="AdminRole,AllowCallBackFeature">
                            <ContentTemplate>
                                <li class='<%= Page.Request.Path.Contains("CallBack.aspx") ? "has-sub active" : "none" %>'>
                                    <a id="A2" href="~/CallBack.aspx" runat="server" title="Call Back">Callback
                                        <asp:Label ID="bubble" runat="server" CssClass="bubble" Text="0"></asp:Label></a>
                                    <ul>
                                        <li><a id="A3" href="~/CallBack.aspx" runat="server" title="View your own call backs"
                                            onclick="ShowSpinner();"><span>My Call Back</span></a></li>
                                        <li class='last'><a id="A4" href="~/CallBack.aspx?Assigned=1" runat="server" title="View assigned call backs"
                                            onclick="ShowSpinner();"><span>Assigned Call Back</span></a></li>
                                    </ul>
                                </li>
                            </ContentTemplate>
                        </asp:RoleGroup>
                    </RoleGroups>
                </asp:LoginView>
                <asp:LoginView ID="LoginViewReportMenu" runat="server">
                    <RoleGroups>
                        <asp:RoleGroup Roles="ReportViewer">
                            <ContentTemplate>
                                <li class='<%= Page.Request.Path.Contains("Report.aspx") ? "active" : "none" %>'><a
                                    id="A1" runat="server" href="~/Report/Report.aspx" title="Report" onclick="ShowSpinner();">
                                    <span>Report</span></a></li>
                            </ContentTemplate>
                        </asp:RoleGroup>
                    </RoleGroups>
                </asp:LoginView>
            </ul>
        </div>
        <div style="float: right; padding-right: 20px;">
            <rad:RadCodeBlock ID="codeBlockWelcome" runat="server">
                <%
                    if (HttpContext.Current.User.Identity.IsAuthenticated)
                    { %>
                <a runat="server" id="welcomeLink" style="cursor: pointer"><strong>Welcome
                    <%= CallDispositionTool.Helper.GetEmployeeName(HttpContext.Current.User.Identity.Name)%></strong>
                    <img runat="server" src="~/Images/SortDesc.gif" alt="" /></a>
                <% } %>
            </rad:RadCodeBlock>
        </div>
        <rad:RadToolTip ID="toolTip1" runat="server" TargetControlID="welcomeLink" EnableRoundedCorners="true"
            Sticky="true" ManualClose="true" Skin="Default">
            <div style="background-color: White">
                <rad:RadButton ID="btnUserSettings" runat="server" Text="User Settings" PostBackUrl="~/UserSettings.aspx">
                </rad:RadButton>
                <br />
                <rad:RadButton ID="btnLoginAs" runat="server" Text="Login As Another Username" PostBackUrl="~/Admin/LogInAsAnotherUser.aspx"
                    CausesValidation="false">
                </rad:RadButton>
                <asp:LoginView ID="loginAs" runat="server">
                    <RoleGroups>
                        <asp:RoleGroup Roles="Admin">
                            <ContentTemplate>
                            </ContentTemplate>
                        </asp:RoleGroup>
                    </RoleGroups>
                </asp:LoginView>
            </div>
        </rad:RadToolTip>
        <div id="main_content">
            <rad:RadWindowManager ID="RadWindowManager1" runat="server" EnableShadow="true" ShowContentDuringLoad="false"
                Width="680px" Height="500px" VisibleOnPageLoad="false" VisibleStatusbar="false"
                RenderMode="Lightweight" Modal="true" CenterIfModal="true">
            </rad:RadWindowManager>
            <div>
                <asp:ContentPlaceHolder ID="cntMain" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div class="clear">
            </div>
        </div>
        <div id="footer">
            <div class="copyright">
                <%--                <img src="images/footer_logo.gif" alt="" title="" />
                --%>
            </div>
            <div class="center_footer">
                &copy;
                <%= DateTime.Now.Year.ToString() %>
                Transcom Worldwide. All Rights Reserved</div>
            <div class="footer_links">
                <%--                <a href="http://www.transcom.com">
                    <img src="images/csstemplatesmarket.gif" alt="csstemplatesmarket" title="transcom"
                        border="0" /></a>--%>
            </div>
        </div>
        <div style="float: left">
            <strong><span id="myCounter" style="display: block"></span></strong>
        </div>
        <div class="date-time-wrap" style="float: right">
            <strong>Client Time:
                <asp:Label runat="server" ID="lblClientTime" ClientIDMode="Static"></asp:Label>
                - <span id="timezoneDescription"></span>
                <br />
                Server Time:
                <asp:Label runat="server" ID="lblServerTime" ClientIDMode="Static"></asp:Label></strong>
        </div>
        <rad:RadCodeBlock ID="CodeBlock1" runat="server">
            <script type="text/javascript">
                $.prettyLoader();

                var dt = new Date();
                var tz = -dt.getTimezoneOffset();

                function openNewWindow(formID, formName) {
                    if (formID) {
                        var windowURL = '<%= ResolveClientUrl("~/TransactionForm.aspx") %>' + '?FormID=' + formID + '&FormName=' + formName;
                        window.open(windowURL, formID, 'width=680,height=420,resizable=yes,scrollbars=yes').focus();
                    }
                }

                function setCookie(c_name, value, exdays) {
                    var exdate = new Date();
                    exdate.setDate(exdate.getDate() + exdays);
                    var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
                    document.cookie = c_name + "=" + c_value;
                }

                function CountDownNotification(count) {
                    if (count >= 0) {
                        document.getElementById("myCounter").innerHTML = 'Next Call Back Notification in: ' + count + 's';
                        window.setTimeout(function () { CountDownNotification(count - 1) }, 1000);
                    }
                    else {
                        var notification = $find("<%=RadNotification1.ClientID %>");
                        notification.show();
                    }
                }

                function removeAnimation() {
                    setTimeout(function () {
                        $('.bubble').removeClass('animating')
                    }, 1000);
                }

                function ValidateAndShowSpinner() {
                    if (Page_ClientValidate()) {
                        $.prettyLoader.show();
                        return true;
                    }
                    else {
                        return false;
                    }
                }

                function ShowSpinner() {
                    $.prettyLoader.show();
                }

                function setTimezoneDescription() {
                    var tz = jstz.determine(); // Determines the time zone of the browser client

                    //tz.name(); // Returns the name of the time zone eg "Europe/Berlin"
                    document.getElementById("timezoneDescription").innerHTML = tz.name();
                }

                $(function () {
                    setTimezoneDescription();
                    setCookie("localtime", tz, 30);

                    //Declare a proxy to reference the hub. 
                    var chat = $.connection.notificationHub;

                    //Create a function that the hub can call to broadcast messages.
                    chat.client.broadcastMessage = function (name, message) {
                        var notification = $find("<%=RadNotification1.ClientID %>");
                        notification.set_title('Message from ' + name);
                        notification.set_text(message);
                        notification.show();

                        var counterValue = $('.bubble').html();

                        counterValue++; // increment

                        $('.bubble').html(counterValue).addClass('animating'); // animate it
                        removeAnimation(); // remove CSS animating class 
                    };

                    //Create a function that the hub can call to broadcast messages.
                    chat.client.showAssignedNotification = function (employeeID, message) {
                        if (employeeID == '<%= HttpContext.Current.User.Identity.Name %>') {
                            var notification = $find("<%=RadNotification1.ClientID %>");
                            var title = 'You have assigned notification from ' + employeeID;
                            notification.set_title(title);
                            notification.set_text(message);
                            notification.show();

                            var counterValue = parseInt($('.bubble').html());

                            counterValue++; // increment

                            $('.bubble').html(counterValue).addClass('animating'); // animate it
                            removeAnimation(); // remove CSS animating class 
                        }
                    };

                    $.connection.hub.start();
                });
            </script>
        </rad:RadCodeBlock>
    </div>
    </form>
</body>
</html>
