﻿/*Font*/
@font-face { font-family: 'bariol_bold'; src: url('fonts/bariol_bold-webfont.eot'); src: url('fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bariol_bold-webfont.ttf') format('truetype'), url('fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'bariol_regular'; src: url('fonts/bariol_regular-webfont.eot'); src: url('fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bariol_regular-webfont.ttf') format('truetype'), url('fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg'); font-weight: normal; font-style: normal; }

body {
margin:0px;
padding:0px;
font-family: 'bariol_regular', Arial, Helvetica, sans-serif;
font-size:12px;
color: #3b5564;
}
p{
margin:0px;
padding:0 0 5px 0;
line-height:17px;
text-align:justify;
}
p.pat{
color:#FFFFFF;
}
h1{
color:#759f1b;
margin:0px;
padding:5px 0 5px 0;
font-family: 'bariol_bold';
}
h2{
color:#759f1b;
font-size:16px;
float:left;
font-weight:bold;
margin:0px;
padding:5px 0 0 0;
font-family: 'bariol_regular';
}
h3 
{
font-family: 'bariol_bold';   
}
h4 
{
    font-family: 'bariol_bold';
}