/*Font*/
@font-face { font-family: 'bariol_bold'; src: url('fonts/bariol_bold-webfont.eot'); src: url('fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bariol_bold-webfont.ttf') format('truetype'), url('fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'bariol_regular'; src: url('fonts/bariol_regular-webfont.eot'); src: url('fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bariol_regular-webfont.ttf') format('truetype'), url('fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg'); font-weight: normal; font-style: normal; }

body {
background:url(images/bg.jpg) no-repeat top center #97cae4;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #3b5564;
}
p{
margin:0px;
padding:0 0 5px 0;
line-height:17px;
text-align:justify;
}
p.pat{
color:#FFFFFF;
}
h1{
color:#759f1b;
margin:0px;
padding:5px 0 5px 0;
font-family: 'bariol_bold';
}
h2{
color:#759f1b;
font-size:16px;
float:left;
font-weight:bold;
margin:0px;
padding:5px 0 0 0;
font-family: 'bariol_regular';
}
h3 
{
font-family: 'bariol_bold';   
}
h4 
{
    font-family: 'bariol_bold';
}

#formWrap 
{
    vertical-align: middle;
    padding: 20px 0 0 20px;
    margin: 0 auto 0 auto;
    width: 550px;
    height: 220px;
    background:url('images/fldBgr.gif') repeat-x;
    border: 0.1px solid gray;
}

.profileImage 
{
    width: 140px;
    height: 195px;
    background:url('images/profileImg.png') no-repeat center;
    float: left;
}

.profileLogin
{
    float: right;
    width: 350px;
    height: 220px;
}
span.blue{
color:#a5dcf8;
font-family: 'bariol_regular';
}
span.dark_blue{
color:#116c64;
}
#main_container{
width:900px;
height:auto;
margin:auto;
background-color:#fff;
}
.header{
width:900px;
height:114px;
margin:auto;
background:url(images/header_bg.gif) repeat-x;
}
.right_header{
float:right;
width:550px;
}
#logo
{
width: 300px;    
padding:30px 0 0 20px;
float:left;
}
/*----------------------menu-------------------------*/
#menu{
width:600px;
height:35px;
float:right;
padding:40px 0 0 0;
}
#menu ul{
list-style:none;padding:0px;margin:0px;display:block; font-weight:bold;
}
#menu ul li{
list-style:none;display:inline;float:left;width:96px;height:35px;padding:0px;line-height:35px;font-size:14px; margin:0 3px 0 3px;
}
#menu ul li a{
height:35px; width:96px;float:left;text-decoration:none;padding:0px;margin:0px;color:#6c7b83;text-align:center; background:url(images/menu_bt.gif) no-repeat center; font-family: 'bariol_bold'; 
}
#menu ul li a:hover{
height:35px;width:96px;text-decoration:none;color: #68C2EF; font-family: 'bariol_bold';
}
#menu ul li a.current{
height:35px;width:96px;float:left;text-decoration:none;padding:0px;margin:0px;color: #68C2EF;background:url(images/menu_bt.gif) no-repeat center; font-family: 'bariol_bold';
}

#middle_box{
width:900px;
height:208px;
clear:both;
margin:auto;
background:url(images/middle_banner.gif) no-repeat center;
}
.middle_box_content{
padding:30px 0 0 20px;
}
.top_menu{
width:285px;
float:right;
}
a.login {
width:49px;
height:35px;
display:block;
background:url(images/login.gif) no-repeat center;
line-height:35px;
colOr:#6c7b83;
font-size:10px;
font-weight:bold;
text-decoration:none;
padding:0 0 0 40px;
float:left;
margin:0 3px 0 3px;
font-family: 'bariol_regular'
}
a.admin {
width:49px;
height:35px;
display:block;
background:url(images/sign_up.gif) no-repeat center;
line-height:35px;
colOr:#6c7b83;
font-size:10px;
font-weight:bold;
text-decoration:none;
padding:0 0 0 40px;
float:left;
margin:0 3px 0 3px;
font-family: 'bariol_regular'
}
.pattern_bg{
width:100%;
height:162px;
clear:both;
margin:auto;
background:url(images/pattern_bg.gif) no-repeat center;
}
.pattern_box{
width:400px;
float:left;
padding:15px 0 0 25px;
}
.pattern_box_icon{
float:left;
padding:5px;
}
.pattern_content{
width:300px;
float:left;
padding:0 0 0 0px;
}
/*---------------------main_content------------------*/
#main_content{
width:885px;
height: auto;
margin: auto;
padding: 15px 0 0 15px;
}
.clear{
clear:both;
}
.box_content{
width:267px;
height:auto;
float:left;
margin:10px 10px 30px 10px;
background:url(images/box_bg.gif) no-repeat top center;
}
.box_title{
padding:10px 0 10px 0;
}
.title_icon{
float:left;
padding:0 5px 0 10px;
}
.box_text_content{
width:250px;
float:left;
padding:15px 0 0 15px;
}
.box_icon{
float:left;
padding:0 5px 0 0 ;
}
.box_text{
width:190px;
float:left;
text-align:justify;
padding:0 0 0 10px;
}
a.details{
float:right;
padding:5px 15px 0 0;
text-decoration:none;
font-weight:bold;
color:#f8851f;
}
/*-----------------------------footer------------------*/
#footer{
width:900px;
height:45px;
color:#508aa1;
background-color:#e8eff2;
font-family: 'bariol_regular';
}
.copyright{
float:left;
padding:10px 0 0 10px;
}
.center_footer{
color:#6c7b83;
font-size:12px;
font-weight:bold;
width:550px;
padding:15px;
text-align:center;
float:left;
}
.footer_links{
float:right;
padding:10px 10px 0 0;
}
