﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UserCaptionUserControl.ascx.cs" Inherits="CallDispositionTool.UserControl.UserCaptionUserControl" %>
<table>
    <tr>
        <td>
            <asp:TextBox ID="tbUserCaptionUserControl" type="text" runat="server" Enabled="false" />
        </td>
    </tr>
</table>