﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AssignToUserControl.ascx.cs" Inherits="CallDispositionTool.UserControl.AssignToUserControl" %>
<table>
    <tr>
        <td>
            <asp:DropDownList ID="tbAssignToUserControl" runat="server" Width="200px" > 
                <asp:ListItem Text="" Value=""></asp:ListItem>
                <asp:ListItem Text="E-prekyba" Value="E-prekyba"></asp:ListItem>
                <asp:ListItem Text="Transcom" Value="Transcom"></asp:ListItem>
                <asp:ListItem Text="Didmena" Value="Didmena"></asp:ListItem>
                <asp:ListItem Text="Senukai" Value="Senukai"></asp:ListItem>
            </asp:DropDownList>
        </td>
    </tr>
</table>